<!doctype html>
<html>

<head>
  <title>A Madlib!</title>

  <link rel="stylesheet" href="/static/madlibs.css">
</head>

<body>
  <p>One day, <span class="urgent">{{ person }}</span> decided to go buy a lottery ticket at the local
    convenience store.
    When they received their ticket and scratched off the numbers, they looked down with a very 
    <span class="urgent">{{ adjective }}</span> expression.
    They had won a <span class="urgent">{{ color }} {{ noun }}</span>!!!
    <span class="urgent">{{ person }}</span> immediately quit their job and went to live a life of
    luxury off their winnings, participating in <span class="urgent">{{ hobbies }}</span> and other 
    fancy activities instead.
  </p>
</body>

</html>