<!doctype html>
<html>

<head>
  <title>A Madlib!</title>

  <link rel="stylesheet" href="/static/madlibs.css">
</head>

<body>
  <p>One day, <span class="urgent">{{ person }}</span> was walking in the woods and saw 
    a <span class="urgent">{{ color }} {{ noun }}</span>.
    When <span class="urgent">{{ person }}</span> tried to take a closer look at it, an extremely
    <span class="urgent">{{ adjective }}</span> bear jumped out and ate it.
    <span class="urgent">{{ person }}</span> decided to go do some <span class="urgent">{{ hobbies }}</span> 
    instead of ever going back to the woods.
  </p>
</body>

</html>