<!doctype html>
<html>

<head>
  <title>A Madlib!</title>

  <link rel="stylesheet" href="/static/madlibs.css">
</head>

<body>
  <p>Hello, <span class="urgent">{{ person }}</span> I'd like to play a game with you...
    Listen carefully, if you will. There are rules that you,<span class="urgent">{{ person }}</span>, have to abide by. You can no longer live
    the rest of your life doing <span class="urgent">{{ noun }} and {{hobbies}}</span>.
    You may die in a <span class="urgent">{{ adjective }}</span> way if you do not abide by these rules.
    
  </p>
</body>

</html>